<h1>Hot Weather Widget <br>
  <a href="https://github.com/aalexeev239/weather-widget">github source</a></h1>
<div class="element">
  <div class="element-left">
    <div class="element-bg-img"><img src="assets/images/1.jpg" alt="" class="img-responsive"></div>
    <div class="element-left-bottom">
      <div class="ele-strip">
        <ul>
          <li *ngFor="let rating of ratingList; let l = last;" [class.anc-bor]="l">
            <a
              (click)="setRating(rating.value)"
              [class.active]="rating.value === currentRating">
              {{rating.title}}
            </a>
          </li>
        </ul>
      </div>
      <div class="village">
        <h3>Hotels</h3>
        <span class="line"> </span>
        <div class="activity_box">
          <div class="scrollbar" id="style-2">
            <wea-location
              *ngFor="let location of locations | rating:currentRating"
              [location]="location"
              (click)="selectLocation(location)"
              [isActive]="currentLocation === location"></wea-location>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="element-right" *ngIf="currentLocation">-->
  <!--<wea-temperatur [location]="currentLocation"></wea-temperatur>-->
  <!--<wea-teddy-bear [location]="currentLocation"></wea-teddy-bear>-->
  <!--</div>-->

  <div class="element-right" *ngIf="currentLocationAf | async">
    <wea-temperatur [location]="currentLocationAf | async"></wea-temperatur>
    <wea-teddy-bear [location]="currentLocationAf | async"></wea-teddy-bear>
  </div>
  <div class="clear"></div>
</div>
